ci:
  skip:
    - mypy
    - cargo-fix

repos:
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.16.3
    hooks:
      - id: zizmor
  - repo: https://github.com/hadialqattan/pycln
    rev: "v2.6.0"
    hooks:
      - id: pycln
        args:
          - --all
          - --disable-all-dunder-policy
  - repo: https://github.com/AndrejOrsula/pre-commit-cargo
    rev: 0.4.0
    hooks:
      - id: cargo-fmt
      - id: cargo-fix
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.5"
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  - repo: https://github.com/jvllmr/pre-commit-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@latest
          - prettier-plugin-toml@latest
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: mypy
        name: static type check
        language: system
        entry: .venv/bin/mypy --fast-module-lookup
        pass_filenames: false
