name: Lint source code

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  mypy:
    permissions:
      contents: read
    name: MyPy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          persist-credentials: false
      - name: Setup UV
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
        with:
          python-version: "3.9"
      - name: Install dependencies
        run: uv sync --group lint --group types
      - name: Run MyPy
        run: pdm run mypy
