name: Lint source code

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  ty:
    permissions:
      contents: read
    name: Ty
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - name: Setup UV
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          python-version: "3.9"
      - name: Install dependencies
        run: uv sync --locked --group lint --group types
      - name: Run Ty check
        run: uv run ty check
