name: Run tests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  test-alpine:
    permissions:
      contents: read
    name: Test musl
    runs-on: ubuntu-latest
    container:
      image: docker.io/rust:1-alpine3.22
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          persist-credentials: false
      - name: Install dependencies
        run: |
          apk add python3 python3-dev py3-pip git musl-dev bash gnupg curl
          pip install uv maturin --break-system-packages
      - name: Enable git longpaths
        run: git config --global core.longpaths true
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2
        with:
          cache-targets: false
      - name: Install dependencies
        run: uv sync --locked --group test --group lint
      - name: Run pytest
        env:
          FLAY_INTEGRATION_TEST: 1
        run: uv run pytest --cov --cov-report=xml --junitxml=junit.xml -o junit_family=legacy
      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@47f89e9acb64b76debcd5ea40642d25a4adced9f # v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
  test:
    permissions:
      contents: read
    name: Test
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
        os: ["windows-2025", "ubuntu-latest", "macos-latest"]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          persist-credentials: false
      - name: Setup UV
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up Rust toolchain
        uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1
        with:
          toolchain: stable
      - name: Enable git longpaths
        run: git config --global core.longpaths true
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2
        with:
          cache-targets: false
      - name: Install dependencies
        run: uv sync --locked --group test --group lint
      - name: Run pytest
        env:
          FLAY_INTEGRATION_TEST: 1
        run: uv run pytest --cov --cov-report=xml --junitxml=junit.xml -o junit_family=legacy
      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@47f89e9acb64b76debcd5ea40642d25a4adced9f # v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
